body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  border: 1px solid red;
  margin: auto;
  width: 80%;
}

#right-root {
  border: 10px solid blue;
  float: right;
  width: 40%;
}

.parentDiv {
  color: red;
}

.childDiv {
  color: blue;
  margin-left: 10px;
}


.share-item {
  width: 200px;
  border-radius: 4px;
  border: none;
  color: #FFF;
  display: flex;
  flex: 1;
  margin-right: 15px;
  padding: 10px 15px;
  cursor: pointer;
}
.share-item h1 {
  flex: 2;
  font-size: 14px;
}
.share-item i {
  flex: 1;
  font-size: 35px;
}

.share-item.blue {
  background: blue;
}
.share-item.lightblue {
  background: lightblue;
}
.share-item.purple {
  background: purple;
}
.share-item.red {
  background: crimson;
}

.share-widget {
  display: flex;
}
